body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    background-color:white;
}
.modal-header{
    background-color: #fff0e1;
}
#row1{
    padding: 60px;
    text-align: center;
    background-color: #ffc0bc;
background-image: linear-gradient(90deg, #ffc0bc 0%, #fff0e1 100%);
  }
  #row1-2{
    background-color:white;
}
#row4{
    text-align: center;
    background-color:#fff0e1 ;
}
#row5{
    text-align: center;
    background-color:#ffc0bc;
}
#row7{
    padding: 40px;
    background-color: #ffc0bc;
    background-image: linear-gradient(90deg, #ffc0bc 0%, #fff0e1 100%);
}

/* Page Profile */
#row8{
    padding: 100px;
    background:url("port/proflie/bg.png")center no-repeat;
    background-size: cover;

}
#row8-1{
    padding: 100px;
    opacity: .75;
    background-color:white;
}
#row9{
    padding: 40px;
    background-color:white;
}